
.main-nav {
    height: 90px;
    width: 100vw;
    background-color: rgb(158, 160, 163);
    border-bottom: 3px solid rgb(114, 202, 173);
    padding: 5px 60px  5px    40px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    .menu-items-right {
        display: flex;
        align-items: center;
        white-space: nowrap;
        a {
            margin-right: 15px;
            text-transform: uppercase;
            border: 2px solid rgb(90, 4, 90);
            padding: 3px 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;

            &:hover {
                color: rgb(18, 214, 155);
            }

        }
    }   
}


.icon-link svg {
        height: 100%;
        width: auto;
        margin-right: 150px;
    }



